<main>
    <div class="pop-up">
        <div class="message">
            
            
            <div>
                <p>Detalles del conflicto</p>
                <div class="tableRequest">
                    <table class="rh-table">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Evaluación</th>
                            <th>Motivo</th>
                        </tr>
                        <tr *ngFor="let individualConflict of conflict">
                            <th>{{individualConflict.OwnerID}}</th>
                            <th>{{individualConflict.OwnerName}}</th>
                            <th *ngIf="individualConflict.EvalType == 0">Peer</th>
                            <th *ngIf="individualConflict.EvalType == 1">Team</th>
                            <th *ngIf="individualConflict.EvalType == 2">Leader</th>
                            <th>{{individualConflict.Reason}}</th>
                        </tr>
                    </table>
                </div>
            </div>
            <mat-dialog-actions class="buttons">
                <button class="button-return" (click)="cancel()">Regresar</button>
            </mat-dialog-actions>
            
        </div>
    </div>
</main>
