<main *ngIf="conflictType == 0">
    <div class="pop-up">
        <div class="message">
            <div>
                <p>Detalles del conflicto</p>
                <div class="tableRequest">
                    <table class="rh-table">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Evaluación</th>
                            <th>Motivo</th>
                        </tr>
                        <ng-container *ngFor="let individualConflict of conflict">
                          <tr *ngIf="individualConflict.RequestType == 0">
                            <th>{{individualConflict.OwnerID}}</th>
                            <th>{{individualConflict.OwnerName}}</th>
                            <th *ngIf="individualConflict.EvalType == 0">Peer</th>
                            <th *ngIf="individualConflict.EvalType == 1">Team</th>
                            <th *ngIf="individualConflict.EvalType == 2">Leader</th>
                            <th>{{individualConflict.Reason}}</th>
                        </tr>
                        </ng-container>
                        
                    </table>
                </div>
                <div class="tableRequest">
                  <table class="rh-table">
                    <tr>
                      <th>Para</th>
                      <th>Motivo de decision</th>
                    </tr>
                    <ng-container *ngFor="let individualConflict of conflict">
                      <tr *ngIf="individualConflict.RequestType == 0">
                        <th>{{individualConflict.OwnerName}}</th>
                        <th>
                          <textarea style="padding: 2%;" class="enabledTextbox" placeholder="Motivo" (keyup)="checkMessage()" [(ngModel)]="individualConflict.HrResponse"></textarea>
                        </th>
                      </tr>
                    </ng-container>
                    
                  </table>
                </div>
            </div>
            <div>

            </div>
            <mat-dialog-actions *ngIf="!saveResponse" class="buttons">
                <button class="button-return" (click)="save()">Regresar</button>
            </mat-dialog-actions>

            <mat-dialog-actions *ngIf="saveResponse" class="buttons">
              <button class="button-confirm" (click)="save()">Guardar</button>
          </mat-dialog-actions>
            
        </div>
    </div>
</main>



<main *ngIf="conflictType == 1">
  <div class="pop-up">
      <div class="message">
          <div>
            <p>Detalles</p>
              <div class="tableRequest">
                <table class="rh-table">
                  <tr>
                    <th>Para</th>
                    <th>Motivo de decision</th>
                  </tr>
                  <ng-container *ngFor="let individualConflict of conflict">
                    <tr *ngIf="individualConflict.RequestType == 1">
                      <th>{{individualConflict.OwnerName}}</th>
                      <th>
                        <textarea style="padding: 2%;" class="enabledTextbox" placeholder="Motivo" (keyup)="checkMessage()" [(ngModel)]="individualConflict.HrResponse"></textarea>
                      </th>
                    </tr>
                  </ng-container>
                  
                </table>
              </div>
          </div>
          <mat-dialog-actions *ngIf="!saveResponse" class="buttons">
              <button class="button-return" (click)="save()">Regresar</button>
          </mat-dialog-actions>

          <mat-dialog-actions *ngIf="saveResponse" class="buttons">
            <button class="button-confirm" (click)="save()">Guardar</button>
        </mat-dialog-actions>
          
      </div>
  </div>
</main>
