<main>
    <div class="pop-up">
        <div class="message">
            
            
            <div>
                <p>Conflicto</p>
                <div class="tableRequest">
                    <table class="rh-table">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Como Evaluo</th>
                            <th>Motivo</th>
                        </tr>
                        <tr>
                            <th>1</th>
                            <th>Christian</th>
                            <th>Texto</th>
                            <th>:c</th>
                        </tr>
                        <tr>
                            <th>1</th>
                            <th>Christian</th>
                            <th>Texto</th>
                            <th>:c</th>
                        </tr>
                    </table>
                </div>
            </div>
            <mat-dialog-actions class="buttons">
                <button class="button-return">Regresar</button>
                <button class="button-deny">Eliminar relacion</button>
                <button class="button-confirm">Conservar relacion</button>
            </mat-dialog-actions>
            
        </div>
    </div>
</main>
