<div class="row">
    <div class="column-left">
        <h1>Usuarios</h1>
        <table>
            <tr *ngFor="let user of userList" (click)="getTeam(user.email ?? ''); currentUser = user.name ?? ''">
                <th>{{user.name}}</th>  
            </tr>
        </table>
    </div>

    <div class="column-right">
        <h1>Equipo 360 de {{currentUser}}</h1>
        <table>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Evaluación</th>
                <th>Horas</th>
                <th>Status</th>
                <th>Acción</th>
            </tr>
            <tr *ngFor="let user of userTeam">
                <th>{{user.PartnerID}}</th> 
                <th>{{user.Partner}}</th>  
                <th>{{user.EvalType}}</th>   
                <th>{{user.Hours}}</th>  
                <th>{{user.Check1}} | {{user.Check2}}</th>  
                <th>Hue</th>  
                
            </tr>
        </table>
        <button class="add-user-button">Cancelar</button>
        <button class="add-user-button">Aprobar</button>
    </div>

</div>