<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <p id="title" style="text-align:left;">Verificador de Evaluaciones 360</p>
        <div class="container">
            <div class="finder">
                <div class="searchbar">
                    <fieldset>
                        <form class="searchform" method="post">
                            <input (keydown)="sortUserList(1,searchQuery)" class="searcharea" type="text" placeholder="Buscar Usuario" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}">
                            <input type="submit" value="Reset" class="submitbutton" (click)="sortUserList(1,''); searchQuery=''"/>

                            <ul class="filters">
                                <li class="letter-up-filter" title="Alfabeto Ascendente" data-searchType="web" (click)="sortUserList(2, '')">A</li>
                                <li class="letter-down-filter" title="Alfabeto Descendete" data-searchType="web" (click)="sortUserList(3, '')">Z</li>
                                <li class="approved" title="Aprobados" data-searchType="web" (click)="sortUserList(4, '')">Ap</li>
                                <li class="not-approved" title="No Aprobados" data-searchType="web" (click)="sortUserList(5, '')">NAp</li>
                                <li class="orphans" title="Huerfanos" data-searchType="web">H</li>
                            </ul>
                        </form>
                    </fieldset>
                </div>

                <!-- <img src="/assets/uploadAssets/browse-icon.svg" title="Filtros" width="25px"> -->
                <div class="searchresults">
                    <div *ngIf="userList != null">

                        <table class="styled-table" id="employees" style="box-shadow: none; border-spacing: 0px;">
                            <tbody>
                                <tr *ngFor="let user of displayUserList">
                                    <td (click)="getTeam(user.email ?? ''); currentUser = user.name ?? ''" style="cursor:pointer ;text-align: start; width: 85%;" title="{{user.name}}">{{user.name}}</td><span [class.circle] = "user.AllowEditing"></span>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>

            <div style="text-align: center;" *ngIf="userTeam?.length == 0 && userTeamNotApproved?.length == 0">
                <h1>El equipo de {{currentUser}} no tiene usuarios.</h1>
            </div>
            <div style="text-align: center;" *ngIf="userTeam == null && userTeamNotApproved == null">
                <h1>Seleccione un equipo para empezar</h1>
            </div>
            <div class="display" *ngIf="userTeam?.length ?? 0 > 0 || userTeamNotApproved?.length ?? 0 > 0" >
                <table class="styled-table">
                    <caption title="{{currentUser}}">Equipo 360 de {{currentUser}}</caption>
                    <thead>
                        <tr>
                            <th style="width: 20px;">#</th>
                            <th>Nombre</th>
                            <th style="width: 100px;">Evaluación</th>
                            <th style="width: 50px;">Horas</th>
                            <th style="width: 75px;">Status</th>
                            <th style="width: 60px;">Acción</th>
                        </tr>
                    </thead>
                    <!-- 550 -->
                    <tbody>
                        <tr *ngFor="let user of userTeam">
                            <th style="width: 20px;">{{user.PartnerID}}</th> 
                            <th title="{{user.Partner}}">{{user.Partner}}</th>  
                            <th style="width: 100px;" *ngIf="user.EvalType == 0">Peer</th>
                            <th style="width: 100px;" *ngIf="user.EvalType == 1">Team</th>
                            <th style="width: 100px;" *ngIf="user.EvalType == 2">Leader</th>
                            <th style="width: 50px;">{{user.Hours}}</th>  
                            <th style="width: 75px;" *ngIf="user.OwnerCheck && user.PartnerCheck">
                                <figure>
                                    <img src="http://localhost:4200/assets/icons/confirmButton.png" alt="icono agregar usuario" style="width: auto; height: 25px; margin: -10px;">
                                </figure>
                            </th>  
                            <th style="width: 75px;" *ngIf="!user.OwnerCheck || !user.PartnerCheck">
                                <figure style="cursor: pointer;" (click)="checkConflict(user)">
                                    <img src="http://localhost:4200/assets/icons/conflictIcon.png" alt="icono agregar usuario" style="width: auto; height: 25px; margin: -10px;">
                                </figure>
                            </th>
                            <th style="width: 60px;">Hue</th>  
                        </tr>
                    </tbody>
                </table>
                <div class="buttons">
                    <button class="button-deny">Reestablecer</button>
                    <button class="button-confirm">Confirmar</button>
                </div>
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Evaluación</th>
                            <th>Horas</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of userTeamNotApproved">
                            <th>{{user.PartnerID}}</th> 
                            <th title="{{user.Partner}}">{{user.Partner}}</th>  
                            <th *ngIf="user.EvalType == 0">Peer</th>
                            <th *ngIf="user.EvalType == 1">Team</th>
                            <th *ngIf="user.EvalType == 2">Leader</th>
                            <th>{{user.Hours}}</th>   
                            <th>Hue</th>  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>



<!-- <div class="row">
    <div class="column-left">
        <h1>Usuarios</h1>
        <table>
            <tr *ngFor="let user of userList" (click)="getTeam(user.email ?? ''); currentUser = user.name ?? ''">
                <th>{{user.name}}</th>  
            </tr>
        </table>
    </div>

    <div class="column-right">
        <h1>Equipo 360 de {{currentUser}}</h1>
        <table>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Evaluación</th>
                <th>Horas</th>
                <th>Status</th>
                <th>Acción</th>
            </tr>
            <tr *ngFor="let user of userTeam">
                <th>{{user.PartnerID}}</th> 
                <th>{{user.Partner}}</th>  
                <th *ngIf="user.EvalType == 0">Peer</th>
                <th *ngIf="user.EvalType == 1">Team</th>
                <th *ngIf="user.EvalType == 2">Leader</th>
                <th>{{user.Hours}}</th>  
                <th>{{user.OwnerCheck}} | {{user.PartnerCheck}}</th>  
                <th>Hue</th>  
            </tr>
        </table>
        <button class="add-user-button">Cancelar</button>
        <button class="add-user-button">Aprobar</button>
        <table>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Evaluación</th>
                <th>Horas</th>
                <th>Status</th>
                <th>Acción</th>
            </tr>
            <tr *ngFor="let user of userTeamNotApproved">
                <th>{{user.PartnerID}}</th> 
                <th>{{user.Partner}}</th>  
                <th *ngIf="user.EvalType == 0">Peer</th>
                <th *ngIf="user.EvalType == 1">Team</th>
                <th *ngIf="user.EvalType == 2">Leader</th>
                <th>{{user.Hours}}</th>  
                <th>{{user.OwnerCheck}} | {{user.PartnerCheck}}</th>  
                <th>Hue</th>  
            </tr>
        </table>
        


       
    </div>

</div> -->