@import url(https://fonts.googleapis.com/css?family=Montserrat);
/**========================================================================
 *                           Elementos principales
 *========================================================================**/
.container{
    /* Borde */

    /* Fuente */

    /* Tamanio */

    /* Formato */
    grid-template-columns: 330px 680px;
    display: grid;
    
}

#title, .styled-table caption{
    /* Borde */
    padding: 1rem;
    margin: 0;

    /* Fuente */
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size:250%;

    /* Tamanio */

    /* Formato */
}

#title{
    width: 1024px;
}

.display{
    /* Borde */

    /* Fuente */

    /* Tamanio */

    /* Formato */
    margin-left: 15px;
    padding-left: 20px;
}

/**========================================================================
 *                           Buscador
 *========================================================================**/
.finder{
    /* Borde */
    margin-left: 10px;
    margin-top: 30px;
    position: static;

    /* Fuente */

    /* Tamanio */
    height: 82vh;
    width: 330px;

    /* Formato */
    box-shadow: 0 0 5px rgb(108, 108, 108);
    background: rgb(254, 254, 247);
}

.searchform{
    /* The search form. */
    background-color: #e65624;
    margin-top: 5px;
    padding:10px 10px 30px 10px;
    position:relative;
    box-shadow: 0 0 5px rgb(108, 108, 108);
    border-radius:8px;
}

.searchbar fieldset{
    border: none;
}

.searcharea{
    border:none;
    float:left;
    line-height:22px;
    margin-right:5px;
    outline:medium none;
    text-shadow:1px 1px 0 white;
    border-radius: 10px;
    color: black;
    width: 68%;
    height: 34px;
}

.submitbutton{
    width:75px;
    height:34px;
    overflow:hidden;
    border-style:double;
    cursor:pointer;
    border-radius: 10px;
}

.submitbutton:hover{
    background-position:left bottom;

}

.employee-btn{
    /* Borde */
    box-shadow: 0 0 5px rgb(108, 108, 108);
    border-radius: 10px;
    padding-top: 1%;
    margin-left: 3%;
    margin-top: 3%;
    border: none;
    
    /* Fuente */
    text-align: left;

    /* Tamanio */
    height: 35px;
    max-width: 70%;
    width: 70%;

    /* Formato */
    background-color: #e2e0e0;
    word-wrap: break-word;
    cursor: pointer;
}

.employee-btn:hover{
    /* Borde */

    /* Fuente */

    /* Tamanio */

    /* Formato */
    background-color: #f3f3f3;
    transition: all 0.5s;
}

/**========================================================================
 *                           Equipo 360
 *========================================================================**/

 /* En edicion */
.styled-table {
    /* Borde */
    box-shadow: 0 0 10px rgb(89, 71, 71);
    border-collapse: collapse;
    border-collapse:separate;
    border-spacing: 3px;
    border-radius:6px;
    margin: 25px 0;

    /* Fuente */
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    
    /* Tamanio */
    max-width: 680px;
    
    /* Formato */
    table-layout: fixed;
    display: table;
}

.styled-table caption{
    /* Borde */
    border-style: outset inset inset outset;
    border-radius: 10px;
    margin-bottom: 25px;

    /* Fuente */

    /* Tamanio */
    

    /* Formato */
    background-color: rgb(254, 254, 247);

    white-space: nowrap; 
    width: 680px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
}

/* En edicion */
.styled-table tbody{ 
    /* Borde */

    /* Fuente */

    /* Tamanio */

    /* Formato */
    display: block;
    max-height: 60vh;
    overflow-y: auto;
} 

.styled-table tbody tr {
    /* Borde */
    border-bottom: 3px solid #dddddd;

    /* Fuente */

    /* Tamanio */
    width: 100%;

    /* Formato */
    
}

.styled-table tbody tr:last-of-type {
    /* Borde */
    border-bottom: 2px solid #009879;

    /* Fuente */

    /* Tamanio */

    /* Formato */
    
}

.styled-table tbody tr:nth-of-type(odd){
    /* Borde */

    /* Fuente */

    /* Tamanio */

    /* Formato */
    background-color: #ece7e7;
}

.styled-table tbody tr:nth-of-type(even) {
    /* Borde */

    /* Fuente */

    /* Tamanio */

    /* Formato */
    background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(odd):hover, .styled-table tbody tr:nth-of-type(even):hover{
    /* Borde */

    /* Fuente */

    /* Tamanio */

    /* Formato */
    background-color: #c8c8c8;
}

/* en edicion */
.styled-table thead, .styled-table tbody tr{ 
    display: table;
    width: 100%;
    table-layout: fixed;
}

.styled-table thead tr {
    /* Borde */
    border-radius: 10px;

    /* Fuente */

    /* Tamanio */

    /* Formato */
    background-color: #e65624;
    color: #ffffff;
}

.styled-table th, .styled-table td {
    /* Borde */
    padding: 12px 15px;

    /* Fuente */
    text-align: center;

    /* Tamanio */
    max-width: 150px;

    /* Formato */
    /* word-wrap: break-word; */
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

#employees tbody{
    max-height: 67.3vh;
}

#employees{
    margin: 0;
}

.circle{
    margin-top: 5px;
    text-align: end;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: #fff;
    background: #12ba0f;
}


/**========================================================================
 *                           Iconos de Filtros
 *========================================================================**/
 .filters{
    list-style:none;
    margin:10px 0 0 100px;
    /* height:19px; */
    position:relative;
}

.filters li{
    float:left;
    /* height:19px; */
    text-indent:-999px;
    cursor:pointer;
    margin-right:10px;
}

/* Alfabeto superior */
.letter-up-filter{
    background:url("/assets/icons/searchIcons/letterFilter-icon.png") no-repeat;
    background-size: contain;
    width:15px;
    opacity: 0.5;
}

/* Alfabeto inferior */
.letter-down-filter{
    background:url("/assets/icons/searchIcons/letterFilterBack-icon.png") no-repeat;
    background-size: contain;
    width:15px;
    opacity: 0.5;
}

/* Aprobados */
.approved{ 
    background:url("/assets/icons/searchIcons/completeFilter-icon.png") no-repeat;
    background-size: contain;
    width:15px; 
    opacity: 0.5;
    /* background-position:-44px 0; */
}

/* No aprobados */
.not-approved{
    background:url("/assets/icons/searchIcons/notCompleteFilter-icon.png") no-repeat;
    background-size: contain;
    width:15px;
    opacity: 0.5;
}

/* Huerfanos */
.orphans{ 
    background:url("/assets/icons/searchIcons/orphan-icon.png") no-repeat;
    background-size: contain;
    width:15px; 
    opacity: 0.5;
    /* background-position:right 0; */
}

.active, .orphans:hover, .not-approved:hover, .approved:hover, .letter-down-filter:hover, .letter-up-filter:hover{ 
    background-position:right bottom;
    opacity: 1;
}

.active{
    filter:drop-shadow(0px 0px 5px #fff);
}



/* --Botones de aprobar y cancelar. */

.buttons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}

.buttons button {
    width: 40%;
    height: 40px;
    
    
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    
}

.button-deny{
    background-color: #e62424;
    color: #d7d7d7;
}

.button-confirm{
    background-color: #1a9f1f;
    color: #d7d7d7;
}