
<body *ngIf="!displayPage">
    <div class="container">
      <div class="center">
          <div class="loader"></div>
        </div>
    </div>
</body>


<body *ngIf="displayPage">
    <div class="row">
        <div class="column-left">
            <h1>Usuarios</h1>
            <table>
                <tr *ngFor="let user of userList" (click)="getTeam(user.email ?? ''); currentUser = user.name ?? ''">
                    <th>{{user.name}}</th>  
                </tr>
            </table>
        </div>
    
        <div class="column-right">
            <h1>Equipo 360 de {{currentUser}}</h1>
            <table>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Evaluación</th>
                    <th>Horas</th>
                    <th>Status</th>
                    <th>Acción</th>
                </tr>
                <tr *ngFor="let user of userTeam">
                    <th>{{user.PartnerID}}</th> 
                    <th>{{user.Partner}}</th>  
                    <th *ngIf="user.EvalType == 0">Peer</th>
                    <th *ngIf="user.EvalType == 1">Team</th>
                    <th *ngIf="user.EvalType == 2">Leader</th>
                    <th>{{user.Hours}}</th>  
                    <th>{{user.OwnerCheck}} | {{user.PartnerCheck}}</th>  
                    <th>Hue</th>  
                </tr>
            </table>
            <button class="add-user-button">Cancelar</button>
            <button class="add-user-button">Aprobar</button>
            <table>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Evaluación</th>
                    <th>Horas</th>
                    <th>Status</th>
                    <th>Acción</th>
                </tr>
                <tr *ngFor="let user of userTeamNotApproved">
                    <th>{{user.PartnerID}}</th> 
                    <th>{{user.Partner}}</th>  
                    <th *ngIf="user.EvalType == 0">Peer</th>
                    <th *ngIf="user.EvalType == 1">Team</th>
                    <th *ngIf="user.EvalType == 2">Leader</th>
                    <th>{{user.Hours}}</th>  
                    <th>{{user.OwnerCheck}} | {{user.PartnerCheck}}</th>  
                    <th>Hue</th>  
                </tr>
            </table>
        </div>
    
    </div>
</body>

