<body *ngIf="loadingScreen"> 
    <div class="container">
        <div class="center">
            <div class="loader"></div>
        </div>
        
    </div>
</body>


<body *ngIf="!loadingScreen">
    <section class="paddingSidebar">
        <div class="title-selection">
            <h1>Bienvenido {{profile?.givenName}} {{profile?.surname}}</h1>
        </div>
        <section class="hr-users">
    
    
            <div id="hr-title">
                <div>
                    <h2 class="subtitle">Mi Evaluación360</h2>
                </div>
                <div *ngIf="allowEditing" class="button-section">
                    <div class="add-user-button-center">
                        <figure class=".add-icon">
                            <img src="http://localhost:4200/assets/icons/editIcon.png" alt="icono agregar usuario">
                        </figure>
                        <a class="add-user" (click)="displayRequest()">Modificar equipo</a>
                    </div>
        
                    <div class="add-user-button-center">
                        <figure class=".add-icon">
                            <img src="http://localhost:4200/assets/icons/confirmButton.png" alt="icono agregar usuario">
                        </figure>
                        <a class="add-user" (click)="confirmTeam()">Confirmar equipo</a> 
                    </div>
                </div>
            </div>
    
                
            <table class="rh-table">
                <tr>
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Como evaluo</th>
                    <th>Horas Totales</th>
                    <th *ngIf="allowEditing">Mi Decisión</th>
                </tr>

                <!-- DATABASE -->
                <tr *ngFor="let team of displayTeam">
                    <th>{{team.PartnerID}}</th>
                    <th>{{team.Partner}}</th>
                    <th *ngIf="team.EvalType == 0">Peer</th>
                    <th *ngIf="team.EvalType == 1">Team</th>
                    <th *ngIf="team.EvalType == 2">Leader</th>
                    <th>{{team.Hours}}</th>
                    <th *ngIf="allowEditing">
                        <div *ngIf="!team.Approved">
                            <div *ngIf="team.Check1 != null">
                                <div *ngIf="!team.Check1" class="tooltip">
                                    <figure>
                                        <img src="http://localhost:4200/assets/icons/removeIcon.png" alt="icono agregar usuario" style="width: auto; height: 25px; margin: -10px;">
                                    </figure>
                                    <span class="tooltiptext">{{team?.Reason}}</span>
                                </div>
                               
                                <figure *ngIf="team.Check1">
                                    <img src="http://localhost:4200/assets/icons/addIcon.png" alt="icono agregar usuario" style="width: auto; height: 25px; margin: -10px;">
                                </figure>
                            </div>
                            <div *ngIf="team.Check1 == null">
                                <figure *ngIf="!team.Check1">
                                    <img src="http://localhost:4200/assets/icons/addIcon.png" alt="icono agregar usuario" style="width: auto; height: 25px; margin: -10px;">
                                </figure>
                            </div>
                        </div>
                        
                        
                    </th>
                </tr>
                
            </table>
            <div id="container">
                <figure id="iconStatus">
                    <img src="http://localhost:4200/assets/icons/{{imagePath}}" alt="icono agregar usuario" style="width: auto; height: 35px; margin: -10px;">
                </figure>
                <h2 id="textStatus">{{textStatus}}</h2>
                
            </div>
           

        </section>
    </section>
</body>