<!-- <div *ngIf="loginDisplay">
    <p>Login successful!</p>
</div> -->
<body>
    <section class="paddingSidebar">
        <div class="title-selection">
            <h1>Bienvenido {{profile?.givenName}} {{profile?.surname}}</h1>
        </div>
        <section class="hr-users">
    
    
            <div id="hr-title">
                <div>
                    <h2 class="subtitle">Mi Evaluación360</h2>
                </div>
                <div class="button-section">
                    <div class="add-user-button-center">
                        <figure class=".add-icon">
                            <img src="https://cdn.onlinewebfonts.com/svg/img_529925.png" alt="icono agregar usuario">
                        </figure>
                        <a class="add-user" (click)="displayRequest()">Nueva peticion</a>
                    </div>
        
                    <div class="add-user-button-center">
                        <figure class=".add-icon">
                            <img src="http://localhost:4200/assets/confirmButton.png" alt="icono agregar usuario">
                        </figure>
                        <a class="add-user">Confirmar equipo</a> 
                    </div>
                </div>
            </div>
    
                
            <table class="rh-table">
                <tr>
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Como evaluo</th>
                    <th>Horas Totales</th>
                </tr>

                <!-- DATABASE -->
                <tr *ngFor="let team of displayTeam">
                    <th>1</th>
                    <th>{{team.Partner}}</th>
                    <th *ngIf="team.TipoEval == 0">Peer</th>
                    <th *ngIf="team.TipoEval == 1">Team</th>
                    <th *ngIf="team.TipoEval == 2">Leader</th>
                    <th>{{team.Horas}}</th>
                </tr>

                <!-- <tr *ngFor="let team of displayTeam?.relationships">
                    <th>{{team.ID}}</th>
                    <th>{{team.userName}}</th>
                    <th>{{team.clientname}}</th>
                    <th>{{team.hours}}</th>
                </tr> -->
                
            </table>
        </section>
    </section>
</body>



<!-- <div>
    <p><strong>First Name: </strong> {{profile?.givenName}}</p>
    <p><strong>Last Name: </strong> {{profile?.surname}}</p>
    <p><strong>Email: </strong> {{profile?.userPrincipalName}}</p>
    <p><strong>Id: </strong> {{profile?.id}}</p>
    <button (click)="logout()">Log out</button>
</div> -->