<div class="pop-up">
    <div class="title">
        <h1>Nuevo Usuario</h1>
    </div>
    <div class="inputs">
        <form action="">
            <label for="email">Correo electrónico</label>
            <input type="text" name="email" class="email">

            <label for="name">Nombre</label>
            <input type="text" name="name" class="name">

            <div class="rh-slider">
                <p>Recursos humanos</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>

            <input mat-dialog-close (click)="sendData()" type="submit" value="Aceptar" class="submit">
        </form>
    </div>
</div>