<body>
    <section class="paddingSidebar">
        <div class="title-selection">
            <h1>Editar Evaluacion de {{profile?.givenName}} {{profile?.surname}}</h1>
        </div>
        <section class="hr-users">
    
    
            <div id="hr-title">
                <div>
                    <h2 class="subtitle">Mi Evaluación360</h2>
                </div>
                <div class="button-section">
                    <div class="add-user-button-center">
                        <a class="add-user" routerLink="/home/employee_home">Cancelar</a>
                    </div>
        
                    <div class="add-user-button-right">
                        <a class="add-user">Guardar</a>
                    </div>
                </div>
            </div>
    
                
            <table class="rh-table">
                <tr>
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Como evaluo</th>
                    <th>Horas Totales</th>
                    <th>Accion</th>
                </tr>
                <tr *ngFor="let team of displayTeam">
                    <th>{{team.ID}}</th>
                    <th>{{team.name}}</th>
                    <th>{{team.TipoEval}}</th>
                    <th>{{team.hours}}</th>
                    <th>
                        <label class="switch">
                            <input type="checkbox" value="{{team.Check1}}" [checked]="team.Check1" (change)="team.Check1 = !team.Check1; printData()">
                            <span class="slider"></span>
                        </label>
                        <h3>Conservar</h3>
                    </th>
                </tr>
                
            </table>
        </section>
    </section>
</body>
<router-outlet></router-outlet>
