<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
</head>

<!-- 
Una notificacion debe tener:
    Sender: string, 
    Addressee: string, 
    EvalType: number, 
    RequestType: number, 
    Status: number,
    userComplaint?: string,
    HRresponse?: string, 
    DataCreated: Date, 
    DataSolved?: Date
-->


<body>
    <div class="container">
        <div class="days" *ngFor="let day of Notificationdata">
            
            <details class="day" open>
                <summary class="summary-date">{{ day.date.toString().split("T")[0] | date: 'MMM d, y' }}</summary>
                
                <div class="info" *ngFor="let not of day.Notifications">

                    <div class="info-left">
                        <p class="eval{{not.EvalType}}"></p>
                        <p style="text-align: center; margin: 0;">{{ not.DataCreated.toString() | date: 'shortTime' : '+0' }}</p>
                    </div>

                    <div class="info-middle">
                        <div class="info-middle-upper">
                            <p style="margin: 0;">{{ not.Sender }} comentó sobre {{not.Addressee}}</p>
                        </div>

                        <div class="info-middle-lower">

                            <div class="info-middle-lower-user">
                                <p class="textbox">{{ not.userComplaint }}</p>
                            </div>

                            <div class="info-middle-lower-hr">
                                <p class="textbox">{{ not.HRresponse }}</p>
                            </div>         
                        </div>
                        <!-- <p class="info_apply">
                            <a class="info_link">{{not.Addressee}} <i class="fas fa-arrow-right"></i></a>
                            </p> -->
                    </div>

                    <div class="info-right">
                        <p class="request{{ not.RequestType }}" style="margin: 0;"></p>
                    </div>

                </div>

                
            </details>


        </div>
    </div>
    
</body>
</html>
