<h1>Notificaciones</h1>
<body>
  <div class="menu-container" clickOutside (clickOutside)="clickedOutside()">
    <div class="menu-toggler" (click)="toggleMenu()">Jorge Maa</div>
    <div class="menu" *ngIf="isMenuOpened">
      <table>
        <tr class="menu-title">
          <th>Integrante</th>
          <th>Tipo de Solicitud</th>
          <th>Horas</th>
        </tr>
        <tr class="menu-item">
          <td>Christina Terrón</td>
          <td>Eliminar de Equipo</td>
          <td>50</td>
        </tr>
      </table>
      <div>
        <button class="button">Ver equipo de Jorge Armando</button>
      </div>
      <!-- <div class="menu-title">Integrante | Tipo de Solicitud | Horas</div>
      <div class="menu-item">Christian Terrón</div> -->
    </div>
  </div>
</body>