<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./sidebar.component.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apricot Sidebar</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-windows'></i>
            <span class="logo_name">Inflection Point</span>
        </div>
        <ul class="nav-links">
            <li>
                <a routerLink="/home/employee_home">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name">Dashboard</a></li>
                </ul>
            </li>
            <li>
                <a routerLink="/home/notifications">
                    <i class='bx bx-pie-chart-alt'></i>
                    <span class="link_name">Notificaciones</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name">Notificaciones</a></li>
                </ul>
            </li>
            <li>
                <a routerLink="/home/details">
                    <i class='bx bx-folder'></i>
                    <span class="link_name">Mi Usuario</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name">Mi Usuario</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="http://localhost:4200/assets/stock.jpeg" alt="">
                    </div>
                        <div class="name-job">
                            <div class="profile_name">Jorge Maa</div>
                            <div class="job">Recursos Humanos</div>
                        </div>
                        <i class='bx bx-log-out' id="log_out" (click)="logout()"></i>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <router-outlet></router-outlet>

    </section>
    <script>
        let arrow = document.querySelectorAll(".arrow");
        for(var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
                let arrowParent = e.target.parentElement.parentElement;
                console.log(arrowParent);
                arrowParent.classList.toggle("showMenu");
            });
        }

        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn)
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });
    </script>
    
</body>
</html>





<!-- 
<script>
    let btn = document.querySelector("btn");
    let sidebar = document.querySelector(".sidebar");
    let searchBtn = document.querySelector(".bx-search");

    btn.onclick = function () {
        console.log("Hola")
        sidebar.classList.toggle("active");
    }
    searchBtn.onclick = function () {
        sidebar.classList.toggle("active");
    }
</script> -->