<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Footer/style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Footer Apricot</title>
</head>



<body>
    <footer>
        <div class="content">
            <div class="left box">
                <div class="upper">
                    <div class="topic">About us</div>
                    <p>Inflection Point is an award-winning company with 19+ years of experience creating agile software solutions for leading clients across the globe.</p>
                </div>
                <div class="lower">
                    <div class="topic">Contact Us</div>
                    <div class="phone">
                        <a href="#"><i class='bx bx-phone'></i>+52 81 4040 2510</a>
                    </div>
                    <div class="email">
                        <a href="#"><i class="bx bx-envelope"></i>hadwig@ips.com</a>
                    </div>
                </div>
            </div>
            <div class="middle box">
                <div class="topic">Our Services</div>
                <div><a href="#">Web Design</a></div>
                <div><a href="#">Web Development</a></div>
                <div><a href="#">Web Research</a></div>
                <div><a href="#">Mobile Design</a></div>
                <div><a href="#">Web UX Design</a></div>
                <div><a href="#">Mobile Development</a></div>
            </div>
            <div class="right box">
                <div class="topic">Subscribe to us</div>
                <form action="#">
                    <input type="text" placeholder="Enter email address">
                    <input type="submit" name="" value="Send">
                    <div class="media-icons">
                        <a href="#"><i class="bx bxl-facebook"></i></a>
                        <a href="#"><i class="bx bxl-instagram"></i></a>
                        <a href="#"><i class="bx bxl-twitter"></i></a>
                        <a href="#"><i class="bx bxl-youtube"></i></a>
                        <a href="#"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </form>
            </div>
        </div>
        <div class="bottom">
            <p>Copyright &#169; 2022 <a href="#">Inflection Point</a>. All rights reserved.</p>
        </div>
    </footer>
    
</body>
</html>