<main>
    <div class="paddingSidebar">
        <h1 class="hr-title">Mis Notificaciones</h1> 
        <section>
            <div class="hr-users">
                <h2 class="hr-title">Casos Activos</h2> 
                <table class="rh-table"> 
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo de Solicitud</th>
                        <th>Estado</th>
                    </tr> 
                    <tr>
                        <th>Pedro</th>
                        <th>Eliminar de tu evaluacion</th>
                        <th>Pendiente</th>
                    </tr> 
                </table>
                <h2 class="hr-title">Casos Resueltos</h2> 
                <table class="rh-table">
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo de Solicitud</th>
                        <th>Respuesta de RH</th>
                        <th>Estado</th>
                    </tr> 
                    
                    <tr>
                        <th>Silvestre</th>
                        <th>Eliminar de tu evaluacion</th>
                        <th>Se removio Christian de tu equipo</th>
                        <th>Aprobado</th>
                    </tr> 

                    <tr>
                        <th>Jorge Armando</th>
                        <th>Eliminar de tu evaluacion</th>
                        <th>No se removio Jorge de tu Evaluacion debido a que si trabajaste con el en este proyecto.</th>
                        <th>Rechazado</th>
                    </tr> 
                </table>
            </div>
        </section>
    </div>
</main>
